 </div></div>
<div class="nectar-global-section nectar_hook_global_section_footer"><div class="container normal-container row">
		<div id="fws_69a8a5d400cd0"  data-column-margin="default" data-midnight="dark"  class="wpb_row vc_row-fluid vc_row full-width-section  top_padding_phone_40px bottom_padding_phone_40px"  style="padding-top: 40px; padding-bottom: 40px; "><div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="true"><div class="inner-wrap row-bg-layer" ><div class="row-bg viewport-desktop"  style=""></div></div><div class="row-bg-overlay row-bg-layer" style="background: #000000; background: linear-gradient(to bottom,#000000 0%,#1b1125 100%);  opacity: 0.95; "></div></div><div class="row_col_wrap_12 col span_12 dark left">
	<div  class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding force-phone-text-align-left inherit_tablet inherit_phone "  data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0" >
		<div class="vc_column-inner" >
			<div class="wpb_wrapper">
				<div class="divider-wrap" style="opacity: 0.2;" data-alignment="default"><div style="margin-top: 25px; height: 1px; margin-bottom: 25px;" data-width="100%" data-animate="" data-animation-delay="" data-color="white" class="divider-border"></div></div><div class="img-with-aniamtion-wrap " data-max-width="100%" data-max-width-mobile="default" data-shadow="none" data-animation="none" >
      <div class="inner">
        <div class="hover-wrap">
          <div class="hover-wrap-inner">
            <img class="img-with-animation skip-lazy" data-delay="0" height="41" width="191" data-animation="none" src="/wp-content/uploads/2024/12/Group-262.png" alt=""  />
          </div>
        </div>
      </div>
    </div><div id="fws_69a8a5d4011c6" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row"  style=""><div class="row-bg-wrap"> <div class="row-bg" ></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div  class="vc_col-sm-10 wpb_column column_container vc_column_container col child_column no-extra-padding force-phone-text-align-left inherit_tablet inherit_phone "   data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0" >
		<div class="vc_column-inner" >
		<div class="wpb_wrapper">

<div class="wpb_text_column wpb_content_element " >
	<div class="wpb_wrapper">
		<p><span style="color: #c3c3c3;">&copy; umified.com | All rights reserved</span></p>
	</div>
</div>




		</div>
	</div>
	</div>

	<div  class="vc_col-sm-2 footer-icon-col wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone "   data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0" >
		<div class="vc_column-inner" >
		<div class="wpb_wrapper">
			<div class="img-with-aniamtion-wrap right" data-max-width="100%" data-max-width-mobile="default" data-shadow="none" data-animation="none" >
      <div class="inner">
        <div class="hover-wrap">
          <div class="hover-wrap-inner">
            <a href="https://www.linkedin.com/company/umified/" target="_blank" class="right">
              <img class="img-with-animation skip-lazy" data-delay="0" height="32" width="32" data-animation="none" src="/wp-content/uploads/2024/12/svg675329484_606.png" alt=""  />
            </a>
          </div>
        </div>
      </div>
      </div>
		</div>
	</div>
	</div>
</div></div>
			</div>
		</div>
	</div>
</div></div>
 </div></div>
<div id="footer-outer" data-midnight="light" data-cols="4" data-custom-color="false" data-disable-copyright="true" data-matching-section-color="true" data-copyright-line="false" data-using-bg-img="false" data-bg-img-overlay="0.8" data-full-width="false" data-using-widget-area="false" data-link-hover="default">


</div><!--/footer-outer-->


	<div id="slide-out-widget-area-bg" class="fullscreen-split hidden dark">
				</div>

		<div id="slide-out-widget-area" class="fullscreen-split hidden" data-dropdown-func="separate-dropdown-parent-link" data-back-txt="Back">

			<div class="inner-wrap">
			<div class="inner" data-prepend-menu-mobile="false">

				<a class="slide_out_area_close" href="#"><span class="screen-reader-text">Close Menu</span>
					<span class="close-wrap"> <span class="close-line close-line1"></span> <span class="close-line close-line2"></span> </span>				</a>


				<div class="container normal-container"><div class="left-side"><div class="nectar-header-text-content mobile-only"><div>&nbsp;




</div></div>					<div class="off-canvas-menu-container mobile-only" role="navigation">


						<ul class="menu">
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-671"><a href="/on-premise/">On-Premise</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="/use-cases/">Use Cases</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="/demo/">Sign Up</a></li>

						</ul>

						<ul class="menu secondary-header-items">
													</ul>
					</div>
					</div><div class="right-side"><div class="right-side-inner"><div class="bottom-meta-wrap"></div><!--/bottom-meta-wrap--></div></div></div>
				</div>

				</div> <!--/inner-wrap-->
				</div>

</div> <!--/ajax-content-wrap-->

	<a id="to-top" aria-label="Back to top" href="#" class="mobile-disabled"><i role="presentation" class="fa fa-angle-up"></i></a>
	</div></div><!--/ocm-effect-wrap--><script type="speculationrules">
{"prefetch":[{"source":"document","where":{"and":[{"href_matches":"/*"},{"not":{"href_matches":["/wp-*.php","/wp-admin/*","/wp-content/uploads/*","/wp-content/*","/wp-content/plugins/*","/wp-content/themes/salient-child/*","/wp-content/themes/salient/*","/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>
