<!-- Cookie config removed - not functional on static site -->
<script type="text/javascript" src="/wp-includes/js/jquery/jquery.min.js@ver=3.7.1" id="jquery-core-js"></script>
<script type="text/javascript" src="/wp-includes/js/jquery/jquery-migrate.min.js@ver=3.4.1" id="jquery-migrate-js"></script>
<script type="text/javascript"> var root = document.getElementsByTagName( "html" )[0]; root.setAttribute( "class", "js" ); </script>
