<link rel="icon" href="/wp-content/uploads/2024/12/cropped-Layer_1-32x32.png" sizes="32x32" />
<link rel="icon" href="/wp-content/uploads/2024/12/cropped-Layer_1-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="/wp-content/uploads/2024/12/cropped-Layer_1-180x180.png" />
<meta name="msapplication-TileImage" content="/wp-content/uploads/2024/12/cropped-Layer_1-270x270.png" />
