<link data-pagespeed-no-defer data-nowprocket data-wpacu-skip data-no-optimize data-noptimize rel='stylesheet' id='main-styles-non-critical-css' href='/wp-content/themes/salient/css/build/style-non-critical.css@ver=17.0.0.css' type='text/css' media='all' />
<link data-pagespeed-no-defer data-nowprocket data-wpacu-skip data-no-optimize data-noptimize rel='stylesheet' id='fancyBox-css' href='/wp-content/themes/salient/css/build/plugins/jquery.fancybox.css@ver=3.3.1.css' type='text/css' media='all' />
<link data-pagespeed-no-defer data-nowprocket data-wpacu-skip data-no-optimize data-noptimize rel='stylesheet' id='nectar-ocm-core-css' href='/wp-content/themes/salient/css/build/off-canvas/core.css@ver=17.0.0.css' type='text/css' media='all' />
<link data-pagespeed-no-defer data-nowprocket data-wpacu-skip data-no-optimize data-noptimize rel='stylesheet' id='nectar-ocm-fullscreen-split-css' href='/wp-content/themes/salient/css/build/off-canvas/fullscreen-split.css@ver=17.0.0.css' type='text/css' media='all' />
