<div id="contact-modal" class="modal-overlay">
	<div class="modal">
		<button class="modal__close" aria-label="Close">&times;</button>
		<form action="https://formspree.io/f/mwvrqywy" method="POST" data-formspree aria-label="Contact form">
			<input type="hidden" name="_subject" value="New Contact Form Submission - Sonesse" />
			<input type="hidden" name="_next" value="https://sonesse.ai/?submitted=true" />
			<p>
				<label>Name<br />
				<input class="form-input" type="text" name="name" placeholder="Full Name" autocomplete="name" required /></label>
			</p>
			<p>
				<label>Email<br />
				<input class="form-input" type="email" name="email" placeholder="Name@company.com" autocomplete="email" required /></label>
			</p>
			<p>
				<label>Company<br />
				<input class="form-input" type="text" name="company" placeholder="Company Name" /></label>
			</p>
			<p>
				<label>Note (optional)<br />
				<textarea class="form-textarea" name="message" placeholder="How we can help?"></textarea></label>
			</p>
			<p>
				<input class="form-submit" type="submit" value="Submit" />
			</p>
		</form>
	</div>
</div>
